Question1:

Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [5]:
# Initialize a to 0 
a= 0

#Define function b 
def b():
    global a                  # Declare as global variable 
    a = c(a)                # Call function c with a as the argument and assign the result back to a
# Define function c
def c(a): 
    return a+2    # Return the value of a incremented by 2

In [6]:
b() # In the first time of execution, function b re-identify the global variable "a", which is the result of function c(a) and leads to the first time execution of function c(a), which return a+2, in this case, is 0+2 = 2. This global value of a is stored in function c.

In [8]:
# Evaluate a 
a

2

In [9]:
b()  # In the second time of execution, again, the execution of function b was delivered back to function, which return a+2, which is 2+2=4 this time. The result was updated and stored in funciton c

In [10]:
a

4

In [11]:
b() # In the third time of execution, the execution of function b leads to the execution of function c, which add 2 on the previous result of 4, which return a new "a" with value 6. The new value of variable "a" was stored in function c.

In [12]:
a

6

Question 2:

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: >>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [89]:
def fileLength(file_name):
    try:
        infile=open(file_name)
        data=infile.read()
        length=len(data)
        infile.close()
        print(length)
        
    except FileNotFoundError:                     #If 'fileNotFoundError' is there, then this exception works
        print("File {} not found.".format(file_name))

In [91]:
fileLength('Filelength.txt')           #When the file is present

123

In [92]:
fileLength('idterm.txt')

File idterm.txt not found.

Question 3

Write a class named Marsupial that can be used as shown below:

m = Marsupial()
m.put_in_pouch('doll') 
m.put_in_pouch('firetruck') 
m.put_in_pouch('kitten')
m.pouch_contents() ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
k = Kangaroo(0,0) 
print(k) I am a Kangaroo located at coordinates (0,0) 
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents() ['doll', 'firetruck', 'kitten'] 
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k) I am a Kangaroo located at coordinates (3,0)

In [39]:

# Define the Marsupial class
class Marsupial:
    def __init__(self):
        # Initialize an empty list for pouch contents
        self.pouch = []

    # Method to add an item to the pouch
    def put_in_pouch(self, item):
        self.pouch.append(item)

    # Method to return the contents of the pouch
    def pouch_contents(self):
        return self.pouch

# Define the Kangaroo class as a subclass of Marsupial
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        # Initialize the parent class (Marsupial)
        super().__init__()
        # Initialize the coordinates of the Kangaroo
        self.x = x
        self.y = y

    # Method to move the kangaroo by dx and dy units
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    # Overload the __str__ method to provide a custom string representation
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)

In [40]:
# Testing the Marsupial class
m = Marsupial()
m.put_in_pouch('doll')          # Add 'doll' to the pouch
m.put_in_pouch('firetruck')     # Add 'firetruck' to the pouch
m.put_in_pouch('kitten')        # Add 'kitten' to the pouch
print(m.pouch_contents())       # Output: ['doll', 'firetruck', 'kitten']

['doll', 'firetruck', 'kitten']

In [41]:
# Testing the Kangaroo class
k = Kangaroo(0, 0)
print(k)  # Output: I am a Kangaroo located at coordinates (0, 0)
k.put_in_pouch('doll')          # Add 'doll' to the pouch
k.put_in_pouch('firetruck')     # Add 'firetruck' to the pouch
k.put_in_pouch('kitten')        # Add 'kitten' to the pouch

I am a Kangaroo located at coordinates (0, 0)

In [42]:
print(k.pouch_contents())       # Output: ['doll', 'firetruck', 'kitten']
k.jump(1, 0)                    # Move the kangaroo by (1, 0)
k.jump(1, 0)                    # Move the kangaroo by (1, 0)
k.jump(1, 0)                    # Move the kangaroo by (1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

Question 4:

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

collatz(1)

1

collatz(10)

10
5
16
8
4
2
1

In [47]:
def collatz(number):
    
    print('collatz sequence of {} is '.format(number))
    print(number)
    
    while number!= 1:
        
        if number%2 == 0:
            number = number//2
            print(number)
            
        else:
                number = (3*number) + 1
                print(number)
                
collatz(1)
collatz(10)

collatz sequence of 1 is
1
collatz sequence of 10 is
10
5
16
8
4
2
1

Question 5:
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. 

binary(0) 0 

binary(1) 1 

binary(3) 11 

binary(9) 1001

In [48]:
def binary(integer):         #defining binary method which takes non-negative integet
    
    print("Binary representation of {} is".format(integer))
    
    if(integer >= 0):                            #if integer is 0 or more then print integer in binary form
        print(format(integer,"b"))          
    
    else:
        return 'number is negative or 0'                 #else print that the number is negative or zero.
    

binary(0)
binary(1)
binary(3)
binary(9)

Binary representation of 0 is
0
Binary representation of 1 is
1
Binary representation of 3 is
11
Binary representation of 9 is
1001

Question 6:
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document.
You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. 
When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document.
Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
W3C Mission
Principles

In [50]:
from html.parser import HTMLParser

In [56]:
class HeadingParser(HTMLParser):
    
    def __init__(self):
        super().__init__()
        self.current_start_tag = ''
        self.current_data = ''
        self.current_end_tag = ''
        self.tag_indents = {'h1':'','h2':' ','h3':'  ','h4':'   ','h5':'    ','h6':'     '}
    
    def handle_starttag(self, tag, attrs):
#         print("Start tag:", tag)
#         for attr in attrs:
#             print("     attr:", attr)
        self.current_start_tag = tag
            
    def handle_endtag(self, tag):
#         print("End tag  :", tag)
        self.current_end_tag = tag
        if self.current_start_tag in ['h1','h2','h3','h4','h5','h6'] and self.current_start_tag == self.current_end_tag:
            print(f"{self.tag_indents[self.current_start_tag]}{self.current_data}")
        
    def handle_data(self, data):
#         print("Encountered some data  :", data)
        self.current_data = data

In [57]:
infile = open('w3c.txt')
content = infile.read()
infile.close()

In [58]:
hp = HeadingParser()

In [59]:
content

'<!DOCTYPE html>\n<html lang="en">\n\n<head>\n  <meta name="description" content="Webpage description goes here" />\n  <meta charset="utf-8">\n  <title>Change_me</title>\n  <meta name="viewport" content="width=device-width, initial-scale=1">\n  <meta name="author" content="">\n  <link rel="stylesheet" href="css/style.css">\n</head>\n\n<body>\n  \n\t<h1>W3C Mission</h1>\n\t<h2>Principles</h2>\n \n\n\n</body>\n</html>'

In [60]:
hp.feed(content)

W3C Mission
 Principles

Question 7:
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [62]:
from urllib.request import urlopen
from urllib.parse import urlparse
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    
    def __init__(self, url):
                                            #here, we are initializing parser, the url and the list.
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
                                              #Search for href attribute
            for attr, value in attrs:
                if attr == 'href':
                    url1 = urljoin(self.url, value)
                    self.links.append(url1)

def webdir(url, depth, indent):
    if depth == 0:                            #Base condition for the recursive function
        return

    
    print(" " * indent + url)                 #Printing the current URL with the indentation

    try:
        response = urlopen(url)
    except:
        return

    if not response.getheader("Content-Type").startswith("text/html"):   #Checking whether the response header for URL that was fetched starts with the string "text/html"
        return

    html = response.read()         #Obtaining links in the web-page
    html = response.decode()
    parser = LinkParser(url)
    parser.feed(html)
    links = parser.links
    
    for link in links:
        webdir(link, depth-1, indent+1)

In [64]:
webdir("http://reed.cs.depaul.edu/lperkovic/csc242/test1.html", 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

Question 8:
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

|City   |Country             |Season    |Tempreture(c)  |Rainfall(mm) |
|:------|--------------------|----------|---------------|------------:|
|Mumbai |India               |Winter    |24.8           |5.9          |
|Mumbai |India               |Spring    |28.4           |16.2         |
|Mumbai |India               |Summer    |27.9           |1549.4       |
|Mumbai |India               |Fall      |27.6           |346.0        |
|Mumbai |India               |Winter    |24.8           |5.9          |
|London |United Kingdom      |Winter    |4.2            |207.7        |
|London |United Kingdom      |Spring    |8.3            |169.6        |
|London |United Kingdom      |Summer    |15.7           |157.0        |
|London |United Kingdom      |Fall      |10.4           |218.5        |
|Cairo  |Egypt               |Winter    |13.6           |16.5         |
|Cairo  |Egypt               |Spring    |20.7           |6.5          |
|Cairo  |Egypt               |Summer    |27.7           |0.1          |
|Cairo  |Egypt               |Fall      |22.2           |4.5          |

In [69]:
import sqlite3
#Creating Database
conn = sqlite3.connect('weatherreport.db')
cur = conn.cursor()
#Drop the table if it exist
cur.execute("DROP TABLE IF EXISTS weather;")
#Table creation
cur.execute("CREATE TABLE weather (city TEXT, country TEXT, season TEXT, temperature float, rainfall float)")
#Inserting values to the table
cur.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
cur.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
cur.execute("INSERT INTO weather VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
cur.execute("INSERT INTO weather VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
cur.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
cur.execute("INSERT INTO weather VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")

conn.commit()

In [73]:
# Query 1
cur.execute('SELECT temperature FROM weather')
for record in cur:
    print("Query 1:",record)

Query 1: (24.8,)
Query 1: (27.9,)
Query 1: (27.6,)
Query 1: (4.2,)
Query 1: (8.3,)
Query 1: (15.7,)
Query 1: (10.4,)
Query 1: (13.6,)
Query 1: (20.7,)

In [74]:
# Query 2
cur.execute('SELECT DISTINCT city FROM weather')
for record in cur:
    print("Query 2:",record)

Query 2: ('Mumbai',)
Query 2: ('London',)
Query 2: ('Cairo',)

In [76]:
# Query 3
cur.execute('SELECT * FROM weather WHERE season = "Fall"')
for record in cur:
    print("Query 3:",record)

Query 3: ('Mumbai', 'India', 'Fall', 27.6, 346.0)
Query 3: ('London', 'United Kingdom', 'Fall', 10.4, 218.5)

In [77]:
# Query 4
cur.execute('SELECT * FROM weather WHERE country = "India"')
for record in cur:
    print("Query 4:",record)

Query 4: ('Mumbai', 'India', 'Winter', 24.8, 5.9)
Query 4: ('Mumbai', 'India', 'Summer', 27.9, 1549.4)
Query 4: ('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [78]:
# Query 5
cur.execute('SELECT city, country FROM weather WHERE (season = "Fall") AND (temperature > 20) ORDER BY temperature DESC')
for record in cur:
    print("Query 5:",record)

Query 5: ('Mumbai', 'India')

In [79]:
# Query 6
cur.execute('SELECT city, country, season FROM weather WHERE (rainfall > 200) AND (rainfall < 400)')
for record in cur:
    print("Query 6:",record)

Query 6: ('Mumbai', 'India', 'Fall')
Query 6: ('London', 'United Kingdom', 'Winter')
Query 6: ('London', 'United Kingdom', 'Fall')

In [80]:
# Query 7
cur.execute('SELECT SUM(rainfall) FROM weather WHERE city = "Cairo"')
Annual_rainfall = cur.fetchall()
print("Query 6:",Annual_rainfall)

Query 6: [(23.0,)]

In [82]:
# Query 8
cur.execute('SELECT SUM(rainfall), season FROM weather GROUP BY season')
for record in cur:
    print("Query 7:",record)

Query 7: (564.5, 'Fall')
Query 7: (176.1, 'Spring')
Query 7: (1706.4, 'Summer')
Query 7: (230.1, 'Winter')

In [83]:
conn.close()

Question 9:

Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [84]:
# (a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Upper_case = [elements.upper() for elements in words]
print (Upper_case)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [85]:
# (b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Lower_case = [elements.lower() for elements in words]
print(Lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [86]:
# (c)[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
Length_Words = [len(elements) for elements in words]
print(Length_Words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [87]:
# (d)[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
Answer = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(Answer)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [88]:
# (e)['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
Ans = [elements for elements in words if len(elements)>=4]
print(Ans)

['quick', 'brown', 'jumps', 'over', 'lazy']